
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #5154ba;
    padding: 1rem;
    text-align: center;
    color: white;
}

header .logo {
    font-size: 2rem;
}

.nav-links {
    list-style: none;
    padding: 0;
}

.nav-links li {
    display: inline;
    margin: 0 15px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.hero-section {
    height: 90vh;
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: url('heroo.png') no-repeat center center/cover;
}

.hero-content h2 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.hero-content p {
    font-size: 1.5rem;
}

.btn {
    padding: 0.7rem 1.5rem;
    background-color: #686BDC;
    color: white;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1.2rem;
}

section {
    padding: 3rem 1.5rem;
    text-align: center;
}

.service-cards {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.service-card {
    border: 1px solid #ccc;
    padding: 2rem;
    border-radius: 10px;
    background-color: #f9f9f9;
}

form {
    max-width: 500px;
    margin: 0 auto;
}

form label {
    display: block;
    margin-top: 1rem;
}

form input, form textarea {
    width: 100%;
    padding: 0.5rem;
    margin-top: 0.5rem;
}

form button {
    margin-top: 1rem;
    padding: 0.7rem 1.5rem;
    background-color: #2C3E50;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
}

footer {
    background-color: #2C3E50;
    color: white;
    text-align: center;
    padding: 1rem;
}
